body {

    background-image: url(backgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: rgb(177, 14, 14);
    font-size: 35px;
}


h2 {
    color: rgb(184, 9, 9);
    font-size: 45px;
}

p {
    color: rgb(172, 21, 21);
    font-size: 30px;
}


