body {

    background-image: url(backgg.jpg);
    background-size: cover;
    text-align: center;
}

h1 {
    color: rgb(177, 14, 14);
    font-size: 25px;
    text-align: center;
}


h2 {
    color: rgb(184, 9, 9);
    font-size: 30px;
    text-align: center;
}

p {
    color: rgb(172, 21, 21);
    font-size: 30px;
    
}
img {
    box-shadow: 0 16px 32px rgb(163, 5, 5);
}

