body {
    background-image: url(euj1.jpg);
    text-align: center;
    margin: 90px;
}

h1 {
    color: rgb(160, 26, 26);
font-size: 40px;
}

p {color: rgb(160, 26, 26);
    font-size: 20px;
}

img {
width: 350px;
height: 350px;
border-radius: 10px;
border-color: brown;

}

.formulaire {
background-color: rgb(167, 43, 13);
margin: 10px;
}


@media screen and (max-width: 768px){

.body {
    display: flex;
}


.formulaire-inscription  {
flex-wrap: wrap;
text-align: center;
padding: 10px;
font-size: 20px;
}


.formulaire {
    display: flex;
    text-align: center;
    justify-content: center;
}


}
